html {
    font-size: 62.5%;
    font-size: 1.2rem;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.home {
    display: flex;
}

.home .main-header {
    background-color: #ffffff;
    height: auto;
    width: 300px;
}

.main-header__nav {
    margin: 0px auto;
}

.home .main-header .logo {
    padding-left: 60px;
    color: #FF5677;
}

.home .main-header ul {
    margin-top: 100px;
}

.home .main-header .main-header__nav--item a.active {
    color: #000;
    font-weight: 600;
}

.home .main-header .main-header__nav--item i {
    margin-right: 15px;
}

.home .main-header ul .main-header__nav--item {
    padding: 10px 10px 10px 10px;
}

.home .main-header ul .main-header__nav--item a {
    color: #1d1d1d;
    font-weight: 500;
}

.main {
    width: 100%;
    background-color: #f5f7fb;
}

.main .main-title {
    margin-left: 50px;
}